* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
}

body {
  width: 50vw;
  margin: auto;
}

.newBook {
  width: 180px;
  margin: auto;
}

body h1,
.welcomeText {
  text-align: center;
}

#theForm {
  display: none;
  background-color: rgb(219, 234, 243);
  padding: 2rem 2.5rem;
  border-radius: 5px;
}

.formBox {
  display: flex;
  flex-direction: column;
}

.formBox label {
  font-size: 1.5rem;
}

.libraryDiv {
  margin-bottom: 5rem;
}

.libraryDiv div :nth-child(1) {
  font-weight: bold;
}

.libraryDiv div :nth-child(3) {
  font-weight: bold;
}

.libraryDiv div :nth-child(5) {
  font-weight: bold;
}

.libraryDiv div {
  padding: 2rem;
  margin-top: 2.5rem;
  background-color: rgb(219, 234, 243);
}

.buttons-div {
  display: flex;
  flex-direction: column;
}

.status-btn, .removeBtn {
  font-size: 16px !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  color: whitesmoke;
}

.removeBtn {
  background-color: crimson;
}

.status-btn {
  background-color: teal;
}